<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Швейное_производство.Properties.Settings.Швейное_производство_v1_1ConnectionString"
            connectionString="Data Source=DESKTOP-GB3UGEB\SQLEXPRESS;Initial Catalog=&quot;Швейное производство v1.1&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>